In [1]:
import pandas as pd
import os
from matplotlib import pyplot as plt
import datetime
import numpy as np
import seaborn as sns
import datetime
import plotly.express as px
import plotly
import plotly.graph_objects as go
import pickle
import AIS_tools

# Some more magic so that the notebook will reload external python modules;
# see http://stackoverflow.com/questions/1907993/autoreload-of-modules-in-ipython
%load_ext autoreload
%autoreload 2

In [2]:
df = AIS_tools.get_AIS_data()
df

,index,MMSI,IMO,STATUS,SPEED (KNOTSx10),LAT,LON,COURSE,HEADING,TIMESTAMP UTC,time
0,0,369272000,9206114.0,0,132,45.05585,-129.9805,147,148,2018-01-02 12:34:51,2018-01-02 12:34:51
1,1,563673000,9689160.0,0,114,46.40802,-130.5953,105,106,2018-01-02 12:37:06,2018-01-02 12:37:06
2,2,356159000,NaN,0,131,46.54730,-129.6827,298,300,2018-01-02 12:42:06,2018-01-02 12:42:06
3,3,563673000,9689160.0,0,113,46.40329,-130.5711,106,106,2018-01-02 12:42:34,2018-01-02 12:42:34
4,4,369272000,9206114.0,0,133,45.02689,-129.9556,149,148,2018-01-02 12:44:02,2018-01-02 12:44:02
...,...,...,...,...,...,...,...,...,...,...,...
1921105,63176,369272000,9206114.0,0,133,45.09314,-130.0125,149,148,2018-01-02 12:23:01,2018-01-02 12:23:01
1921106,63177,356159000,9382061.0,0,129,46.51588,-129.6001,299,299,2018-01-02 12:24:22,2018-01-02 12:24:22
1921107,63178,563673000,9689160.0,0,114,46.42135,-130.6508,109,110,2018-01-02 12:25:29,2018-01-02 12:25:29
1921108,63179,563673000,9689160.0,0,114,46.41515,-130.6248,108,110,2018-01-02 12:30:13,2018-01-02 12:30:13
1921109,63180,563673000,9689160.0,0,114,46.41211,-130.6125,109,110,2018-01-02 12:33:04,2018-01-02 12:33:04

In [6]:
group = df.groupby('MMSI')

MMSIs = df['MMSI'].unique()

In [11]:
MMSIs.shape

(5631,)

In [18]:
ship_ls, MMSIs = AIS_tools.single_ship_pass(df)

In [39]:
single_ship = ship_ls[10]
single_ship = single_ship.reset_index()

In [62]:

single_ship.shape

(171, 12)

In [63]:
for k in range(1,171):
    diff = single_ship['time'][k] - single_ship['time'][k-1]
    diff_s = diff.seconds
    if diff_s > 3600:
        print('new pass')

new pass
new pass
new pass
new pass
new pass
new pass
new pass
new pass
new pass
new pass